.main {
      
    
    height: 47px;
    width: 180px;
    left: 0px;
    top: 0px;
    border-radius: 28px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;
}

.white {
    background-color: white;
    color: #003EFF;
    border: 1px solid #003EFF
}
.blue{
    background-color: #003EFF;
    color: #FFFFFF;
    border: 1px solid #003EFF
    }
.whiteBlackText {
    background-color: #FFFFFF;
    color: #1E1D20;
    border: 1px solid #003EFF
}
.grey {
    background-color: #BEBEBE;
    color: #FFFFFF;
    border: 1px solid #FFFFFF    
}