.label {
    font-size: 50px;
    font-family: Montserrat;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
}

.line {
    height: 1px;
    background-color: #003EFF;
    position: relative;
    top: 144px;
}

.circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #003EFF;
    margin:0px auto;
}

.date {
    display: flex;
}

.p_date {
    font-size: 68px;
    font-family: Montserrat;
    font-weight: bold;
    text-align: center;
    margin: 0px auto;
}

.p_month {
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 700;
    text-align: center;
    margin-top: 0px;
}

.p_event {
    font-size: 16px;
    font-family: Montserrat;
    font-weight: bold;
    text-align: center;
}

.event_left {
    margin-left: 10%;
    margin-right: 5%;
}

.event_right {
    margin-left: 5%;
    margin-right: 10%;
}

.event {
    margin-left: 5%;
    margin-right: 5%;
}