.slider-container {
  position: relative;
  background: url(../../../assets/images/mask2.svg) left 30px top 45px / auto no-repeat;
}

.slider-container:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../../../assets/images/mask3.svg) left 431px top 86px / auto no-repeat;
  z-index: 5;
}

.slider-image {
  width: 560px;
  height: 520px;
  position: relative;
  mask: url(../../../assets/images/mask1.svg) left 7px top 48px / auto no-repeat;
}

.slider-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 25px;
  left: 0;
  object-fit: cover;
}
