.btn_right {
    border-width: 0px;
    border-color: transparent transparent rgb(235, 236, 240);
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    color: #ffffff;
    background-color: #CCD8FF;
}

.btn_right :hover{
    background-color: #7c98f1;
}

.btn_left {
    border-width: 0px;
    border-color: transparent transparent rgb(235, 236, 240);
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    color: #ffffff;
    background-color: #CCD8FF;
    transform: rotate(180deg);
}

.btn_left :hover{
    background-color: #7c98f1;
}

.btn_down {
    border-width: 0px;
    border-color: transparent transparent rgb(235, 236, 240);
    cursor: pointer;
    padding: 0;
    color: #003EFF;
    background-color: #ffffff;
    transform: rotate(90deg);
}

.btn_down :hover{
    color: #012086;
}

.btn_up {
    border-width: 0px;
    border-color: transparent transparent rgb(235, 236, 240);
    cursor: pointer;
    padding: 0;
    color: #003EFF;
    background-color: #ffffff;
    transform: rotate(270deg);
}

.btn_up :hover{
    color: #012086;
}