.wrapperForColored {
  max-width: 512px;
}

.wrapperForGray {
  max-width: 184px;
}

.title {
  margin-top: 0;
  margin-bottom: 23px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #1e1d20;
}

.iconContainer {
  display: flex;
  justify-content: space-between;
}
